[submodule "diabutil/StormLib"]
	path = third_party/StormLib
	url = https://github.com/ladislav-zezula/StormLib.git
[submodule "diablo-prdemo-decomp"]
	path = diablo-prdemo-decomp
	url = https://gitlab.com/moralbacteria/diablo-prdemo-decomp.git
