# Workspace settings
.vscode

# Python
__pycache__
.mypy_cache

# Packaging artifacts
*.mpq
PRE-ABLO/

# Conan install stuff
conan.lock
conanbuildinfo.txt
conan_imports_manifest.txt
conan_info.txt
graph_info.json
conaninfo.txt

# Build artifacts
build*/
!third_party/glew-2.2.0/build/

# Misc stuff
ignore/