[submodule "diabutil/StormLib"]
	path = diabutil/StormLib
	url = https://github.com/ladislav-zezula/StormLib.git
[submodule "diabutil/googletest"]
	path = diabutil/googletest
	url = https://github.com/google/googletest.git
